{% extends 'mainapp/layout.html' %}
{% block content %}
<form action="{{ action_url }}" method="post" class="content">
    {% csrf_token %}
    <div class="list-group">
        <div class="list-group-item list-group-item-action  list-group-item-dark label text-secondary d-flex gap-3 py-2">
            <div class="flex-grow-1">
                <h5 class="modal-title">{{title}}</h5>
            </div>
            <button type="button" class="btn-close btn-close-white" onclick="history.back();" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="list-group-item list-group-item-action nohover list-group-item-dark text-secondary d-flex flex-column gap-1 py-2">
            <div class="form-error">{{form.non_field_errors}}</div>
            {% for x in form %}
                {% if x != form.target_date and x != form.project %}
                    <div class="form-error">{{x.errors}}</div>
                    <div class="d-flex flex-row  mb-3">
                        {{x}}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="d-flex flex-row justify-content-between mb-3">
                <div class="d-flex flex-row py-1">
                    {{form.target_date}}
                    {{form.project}}
                </div>
                <div class="d-flex flex-row py-1">
                    <button type="submit" class="btn btn-outline-secondary">{{ action_name }}</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}