{% load mainapp_tags%}

{% block left_menu %}
    <div class="list-group">
        {% for x in menulist %}
             <a href="{{ x.url_name }}" class="list-group-item list-group-item-action {% if x.active %}active{% endif %} list-group-item-dark text-secondary d-flex gap-3 py-2">
                 <div class="flex-grow-1">
                     {{x.name}}
                 </div>
                 {% if x.undone_count > 0 %}
                 <span class="badge border border-secondary border-opacity-50 bg-transparent fw-semibold {% if x.active %}text-success{% else %}text-secondary{% endif %}">
                     {{x.undone_count}}
                 </span>
                 {% endif %}
             </a>
        {% endfor %}
        <div href="#" class="list-group-item list-group-item-dark label text-secondary d-flex gap-3 py-0">
            <div class="flex-grow-1 py-2">
               Projects
            </div>
            <a href="{% url 'add_project' %}" class="py-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill text-secondary" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                </svg>
            </a>
       </div>
       {% for x in projects %}
            <a href="{{ x.url_name }}" class="list-group-item list-group-item-action {% if x.active %}active{% endif %} list-group-item-dark text-secondary d-flex flex-fill gap-3 py-2">
                <div class="flex-grow-1">
                    {{x.name}}
                </div>
                {% if x.undone_count > 0 %}
                <div class="badge border border-secondary border-opacity-50 bg-transparent fw-semibold {% if x.active %}text-success{% else %}text-secondary{% endif %}">
                    {{x.undone_count}}
                </div>
                {% endif %}
            </a>
        {% endfor %}
    </div>




{% endblock %}