
.text-input{
    border-radius: 5px;
    border-color: grey;
    border-width: 1px;

}

.form-label{
    color: grey;

}

.form-content{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-left: 10px;
    padding-right: 10px;

}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.item-button{
    border-width: 0px;
    border-radius: 5px;
    height: 32px;
    width: 70px;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(219, 76, 63, 0.4);
}

.cancel-button{
    background-color: rgba(169, 169, 169, 0.4);
}

.cancel-button:hover{
    background-color: rgba(169, 169, 169, 1);
}

.submit-button{
    background-color: rgba(219, 76, 63, 0.4);
    color: white;
}

.submit-button:hover{
    background-color: rgba(219, 76, 63, 1);
    color: white;
}

.form-error{
    color: red;
}






.bg-dark-theme{
    background-color: #0d1117;
    color: #fff !important;
}

.dark-theme-element{
    background-color: transparent !important;
    color: #fff !important;
    border-color: #30363d !important;
}

.list-group-item-dark.list-group-item-action.active {
    background-color: #161b22 !important;
    border-color: #30363d !important;
    color: #198754 !important;
}

.list-group-item-dark.list-group-item-action, page-link, .btn.btn-outline-secondary {
    transition: background .15s;
    background-color: transparent !important;
    border-color: #30363d
}

.list-group-item-dark.list-group-item-action:hover, page-link:hover, .btn.btn-outline-secondary:hover {
    background-color: #161b22 !important;
}

.btn.btn-outline-secondary:focus {
    border-color: rgb(25 135 84 / 60%) !important;
    box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%)!important;
}

.list-group-item-dark.list-group-item.label {
    background-color: #161b22 !important;
    border-color: #30363d;
}

.list-group-item-dark.list-group-item.nohover {
    background-color: transparent !important;
    border-color: #30363d;
}

.page-item, .page-link {
    transition: background .15s;
    background-color: transparent !important;
    border-color: #30363d !important;
}

.page-item.active, .page-item:hover, .page-link:hover {
    background-color: #161b22 !important;
}

.page-item.active{
    background-color: #161b22 !important;
    color: #fff !important;
}

.add-button.border-start{
    border-color: #30363d !important;
}


.bi.bi-plus-circle-fill:hover{
    color: #fff !important;
}

.modal-content.bg-dark-theme{
    transition: background .15s;
    background-color: transparent !important;
    border-color: #30363d
}

.form-control.dark-theme-element:focus{
    border-color: rgb(25 135 84 / 60%) !important;
    box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%)!important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.8);
}

